<div class="col-md-4">
  <div class="card well text-center">
    
    <div><%= link_to(image_tag(movie.image_url.to_s, size: "175x275"), movie) %></div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to movie.title, movie_path(movie) %></h4>
      <p class="card-text text-justify"><%= movie.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Director:</strong> <%= movie.director %></li>
      <li class="list-group-item"><strong>Runtime:</strong> <%= movie.runtime_in_minutes %> minutes</li>
      <li class="list-group-item"><strong>Release Date:</strong> <%= formatted_date(movie.release_date) %></li>
    </ul>
  </div>
</div>


  