<h1>Rotten Mangoes</h1>
<hr>

<!-- Search form-->
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag(:director) %>
  <%= label_tag(:runtime_in_minutes, "Duration:") %>
  <%= select_tag :runtime_in_minutes, options_for_select(['<90mins','Between 90 and 120 mins', '>120mins']), prompt: "Please select" %>
  <%= submit_tag("Search") %>
<% end %>


<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= movie.director %></h3>
  <small><%= movie.runtime_in_minutes %><%= formatted_date(movie.release_date) %></small>
  <p><%= movie.description%></p>
  <small><%= movie.post_image_url %></small>
  <div><%= image_tag movie.image_url.to_s %></div>
<% end %>
